<div *ngIf="data">
    <b><span>Situação: </span></b>
    <span>{{ data.situacao }}</span>
    <br>
    <br>

    <b><span>Usuário: </span></b>
    <span>{{ data.Usuario }}</span>
    <br>
    <br>

    <b><span>ID Prioridade: </span></b>
    <span>{{ data.idprioridade }}</span>
    <br>
    <br>

    <b><span>Data Limite: </span></b>
    <span>{{ data.data_limit }}</span>
    <br>
    <br>

    <b><span>Tempo Atraso (hh): </span></b>
    <span>{{ data.tempoatrasohh }}</span>
    <br>
    <br>

    <b><span>Prazo (hh): </span></b>
    <span>{{ data.prazohh }}</span>
    <br>
    <br>

    <b><span>Unidade: </span></b>
    <span>{{ data.unidade }}</span>
    <br>
    <br>

    <b><span>Data e Hora Fim: </span></b>
    <span>{{ data.datahorafim }}</span>
    <br>
    <br>

    <b><span>Atividade: </span></b>
    <span>{{ data.Atividade }}</span>
    <br>
    <br>

    <b><span>Descrição Suspensão: </span></b>
    <span>{{ data.DescricaoJustSuspensao }}</span>
    <br>
    <br>

    <b><span>ID Solicitante: </span></b>
    <span>{{ data.idsolicitante }}</span>
    <br>
    <br>

    <b><span>Data Fim: </span></b>
    <span>{{ data.data_fim }}</span>
    <br>
    <br>

    <b><span>Grupo Nível 1: </span></b>
    <span>{{ data.gruponivel1 }}</span>
    <br>
    <br>

    <b><span>Origem Atendimento: </span></b>
    <span>{{ data.OrigemAtendimento }}</span>
    <br>
    <br>

    <b><span>Data Solicitação: </span></b>
    <span>{{ data.data_solicitacao }}</span>
    <br>
    <br>

    <b><span>Análise: </span></b>
    <span>{{ data.analise }}</span>
    <br>
    <br>

    <b><span>ICs: </span></b>
    <span>{{ data.ICs }}</span>
    <br>
    <br>

    <b><span>Tempo Atendimento (hh): </span></b>
    <span>{{ data.tempoatendimentohh }}</span>
    <br>
    <br>

    <b><span>Nota: </span></b>
    <span>{{ data.nota }}</span>
    <br>
    <br>

    <b><span>Descrição Última Ocorrência: </span></b>
    <span>{{ data.DescricaoUltimaOcorrencia }}</span>
    <br>
    <br>

    <b><span>ID Solicitação Serviço: </span></b>
    <span>{{ data.idsolicitacaoservico }}</span>
    <br>
    <br>

    <b><span>Situação SLA: </span></b>
    <span>{{ data.situacaosla }}</span>
    <br>
    <br>

    <b><span>Tipo de Demanda: </span></b>
    <span>{{ data.tipoDemanda }}</span>
    <br>
    <br>

    <b><span>Serviço: </span></b>
    <span>{{ data.Servico }}</span>
    <br>
    <br>

    <b><span>Tempo Atraso (mm): </span></b>
    <span>{{ data.tempoatrasomm }}</span>
    <br>
    <br>

    <b><span>ID Acorde Nível Serviço: </span></b>
    <span>{{ data.idacordonivelservico }}</span>
    <br>
    <br>

    <b><span>Prazo (mm): </span></b>
    <span>{{ data.prazomm }}</span>
    <br>
    <br>

    <b><span>Responsável: </span></b>
    <span>{{ data.Responsavel }}</span>
    <br>
    <br>

    <b><span>Portfolio: </span></b>
    <span>{{ data.Portfolio }}</span>
    <br>
    <br>

    <b><span>Tempo Médio (min): </span></b>
    <span>{{ data.tempoMedioMin }}</span>
    <br>
    <br>

    <b><span>Grupo Atual: </span></b>
    <span>{{ data.GrupoAtual }}</span>
    <br>
    <br>

    <b><span>Data e Hora Suspensão: </span></b>
    <span>{{ data.datahorasuspensao }}</span>
    <br>
    <br>

    <b><span>Descrição: </span></b>
    <span>{{ data.Descricao }}</span>
    <br>
    <br>

    <b><span>Título SLA: </span></b>
    <span>{{ data.titulosla }}</span>
    <br>
    <br>

    <b><span>Contrato: </span></b>
    <span>{{ data.Contrato }}</span>
    <br>
    <br>

    <b><span>Nome Prioridade: </span></b>
    <span>{{ data.nomeprioridade }}</span>
    <br>
    <br>

    <b><span>Data e Hora Suspensão SLA: </span></b>
    <span>{{ data.datahorasuspensaosla }}</span>
    <br>
    <br>

    <b><span>Hora de Abertura: </span></b>
    <span>{{ data.horaabertura }}</span>
    <br>
    <br>

    <b><span>Análise Base: </span></b>
    <span>{{ data.analisebase }}</span>
    <br>
    <br>

    <b><span>SLA Atrasado: </span></b>
    <span>{{ data.slaAtrasado }}</span>
    <br>
    <br>

    <b><span>Tempo Atendimento (mm): </span></b>
    <span>{{ data.tempoatendimentomm }}</span>
    <br>
    <br>

    <b><span>ID Grupo Atual: </span></b>
    <span>{{ data.idGrupoAtual }}</span>
    <br>
    <br>
</div>
<div style="text-align: right;">
    <button type="button" class="btn btn-primary ml-4" (click)="previousState()">Voltar</button>
</div>
